<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>

<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/Logo.png" height="40" class="mr-2">
</ng-template>
  <div>
      <input type="text" pInputText placeholder="Search">
      <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
  </div>
</p-menubar>

<!-- <button pButton type="button" label="Trang chủ" [routerLink]="['/home']" class="p-button-link"></button>
<button pButton type="button" label="Người dùng" [routerLink]="['/users']" class="p-button-link"></button>
<button pButton type="button" label="Giới thiệu" [routerLink]="['/about']" class="p-button-link"></button> -->




<router-outlet></router-outlet>
